:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos base*/

body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'arial black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*Filme principal*/

.capa-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url('/img/capa-breaking-bad.jpg');
    height: 450px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.capa-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.capa-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.maturity-rating{
    background: #ff0000;
    width: 20px; 
    height: 20px; 
    height: 1em;
    position: relative;
}

.classific p {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

.botao-assistir{
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    margin-right: 15px;
    font-size: 14px;
    cursor: pointer;
    transition: .5s ease all;
    border-radius: 5px;
    font-weight: bold;
}

.botao-assistir:hover{
    background-color: #989999;
    color: black;
}

.botao-assistir i{
    margin-right: 8px;
}

.botao-info{
    background-color: #626363;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-right: 15px;
    font-size: 14px;
    cursor: pointer;
    transition: .5s ease all;
    border-radius: 5px;
    font-weight: bold;
}

.botao-info:hover{
    background-color: #323536;
    color: white;
}

.botao-info i{
    margin-right: 8px;
}

.container{
    margin-left: 30px;
}

.capa-principal .container{
    width: 60%;
}

.box-filme{
    width: 80%;
    height: 80%;
    display: block;
    padding-inline-start: 10px;
}

.carrossel-filmes{
    margin-top: 10px;
    cursor: pointer;
}

.item {
    position: relative;
    display: block;
    flex: 1 1 0px;
    transition: transform 900ms;
  }

.carrossel-filmes:focus-within .item,
.carrossel-filmes:hover .item {
  transform: translateX(0%);
}

.item:focus ~ .item,
.item:hover ~ .item {
  transform: translateX(25%);
}

.carrossel-filmes .item:focus,
.carrossel-filmes .item:hover {
  transform: scale(1.1);
  z-index: 1;
}

.item img {
    display: block;
    max-width: 100%;
  }

.header-title{
    margin-top: 10px;
    margin-inline-start: 20px;
    font-size: 1.4vw;
}

  .social-links{
    padding-inline-start: 30px;
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

.social-links a{
    text-decoration: none;
    cursor: pointer;
    color: #ccc;
    padding: 20px;
}

.social-links a:hover{
    color: white;
}

.fas{
    font-size: 20px;
}

footer{
    padding: 40px 40px 40px 40px;
    align-items: center;
}


.member-footer {
    max-width: 980px;
    margin: 20px auto 0;
    color: grey;
}

table{
    width: 100%;
    padding: 0px 30px 30px 30px;
    text-align: left;
    font-size: 12px;
    font-family: font-family: 'Arial', Times, serif;
}

th a{
    text-decoration: none;
    color: grey;
}
s
th a:hover{
    color: white;
}

span{
    padding-left: 50px;
    font-size: 10px;
}

.trailer{
    padding: 10px;
    text-align: center;
    
}